/*VARIABLES*/
$color-gris-claro: #999999;
$titulos: 'Redressed', cursive;
$universal: border-box;
/*SASS*/
*{
        margin: 0;
        padding: 0;
        box-sizing: $universal; /*CAMBIE VARIABLE UNIVERSAL*/
    }
    html {
        height: 100%;
    }
    body {
        background-image: url(../imagenes/background.png);
    }

    .Container-superior {
        width: 75%;
        margin: auto;
    }
    /*NAVEGETION*/
    .nav-bar {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 0px;
    }
    .nav-brand {
        width: 160px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }
    /*NAV-LEFT*/
    .nav-bar{

        ul{
            display: flex;
        }
        
    }
    .nav-bar{
       ul{
         li{
            padding: 10px;
         }
       }
    }
    .nav-bar{
       ul{
           li{
                a:hover{
                    border-bottom: 2px solid #000000;
                }
           }
       }
    }
    .nav-bar{
        ul{
            .nav-menu{
                flex: 1;
                margin-left: 30px;
            }
        }
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    hr {
        margin-top: 10px;
    }
    /*FIN-NAVEGETION*/
    /*HEADER*/
    header {
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        height: 300px;
    }
    .cabecera-inicial {
        position: relative;
        height: 300px;
        width: 100%;
    }
    .cabecera-inicial{
       img{
        float: left;
        width: 500px;
        padding: 15px;
       }
    }
    .cabecera-inicial{
       h1{
            font-family: $titulos; /*CAMBIE EL TEXTO POR UNA VARIABLE*/
            text-align: center;
            font-size: 40px;
       }
    }
    .cabecera-inicial{
      p{
        font-family: arial;
        margin-top: 50px;
        text-align: center;
      }
    }
    /*FIN-DE-HEADER*/
    /*SECTION*/
    /*GALERIA-DE-AUTOS*/
    .galeria-foto-autos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
    }
    .galeria-foto-autos{
        img{
            width: 100%;
            height: 180px;
        }
    }
    .galeria-foto-autos  {
        h2{
            font-size: 20px;
             margin: 10px 0px;
        }
    }
    .galeria-foto-autos{

        div:hover{
            box-shadow: 0px 0px 5px 5px #000000;
            opacity: 10px;
            padding: 5px;
            cursor: pointer;
        }
       
    }
    /*FIN-DE-GALERIA-DE-AUTOS*/
    /*INFORMACION-DE-AUTOS*/
    .informacion-de-autos {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .informacion-de-autos{

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            border: 3px solid #000000;
            height: 350px;
        }
        
    }
    .informacion-de-autos{
        h3 {
                font-family: $titulos;/*CAMBIE LA VARIABLE TITULO*/
                font-size: 30px;
                text-align: center;
            }
    }
    .informacion-de-autos{
        p{
            font-size: 20px;
            text-align: center;
            overflow: auto;
        }
    }
    /*FIN-INFORMACION-DE-AUTOS*/
    /*INFORMACION-EXTRA*/
    .formulario-infomacion-extra {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-top: 0px;
        margin-bottom: 200px;
        height: 350px;
    }
    .formulario-infomacion-extra{

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
    }
    .formulario-infomacion-extra{
        h4{
            font-size: 30px;
            text-align: center;
            font-family: $titulos;/*CAMBIE POR LA VARIABLE TITULO*/
        }
    }
    .formulario-infomacion-extra p {
        font-size: 20px;
    }
    #nosotros {
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
    /*ESTILOS-DE-FORMULARIO*/
    form {
        top: 0px;
        margin: 0 auto;
        width: 250px;
        height: 360px;
        padding: 20px;
    }
    label {
        text-align: left;
        padding: 15px;
        font-size: 17px;
        color: $color-gris-claro; /*CAMBIE LA VARIABLE COLOR GRIS*/
    }
    input,
    textarea {
        outline: none;
    }
    textarea {
        margin-top: 10px;
    }
    .field {
        padding: 10px;
    }
    .btn {
        padding-bottom: 0px;
    }
    /*FIN-INFORMACION-EXTRA*/
    /*FIN-SECTION*/
    /*INICIO-FOOTER*/
    .footer-links {
        padding: 35px 0px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    .footer-container h4 {
        font-family: $titulos; /*CAMBIE LA VARIABLE TITULO*/
        font-size: 25px;
        border-bottom: 1px solid #000000;
        width: 75%;

    }
    .footer-container{
       UL{
        margin-left: auto;
        margin-right: auto;
       }
    }

    .footer-container ul li {
        line-height: 1.8;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2f3640;
        text-align: center;
        width: 100%;
        height: 50px;
    }


    /*FIN-DE-FOOTER*/

   @media (max-width: 768px) {

.Container-superior {
  width: 75%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
  .check-btn{
    display: block;
  }

  .menu-icon{
   display: flex;
   justify-content: center;
   cursor: pointer;
   padding-left: 140px;
  }

  .nav-bar-right{
    ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    
  }

  .nav-bar-right{
    ul{
        li{
            padding: 2rem;
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
  }

  .nav-bar{
    ul{
        li{
            a{
                color: #f0f8ff
            }
        }
    }
 }


  #check:checked ~ ul{
        left: 0;
  }

  .section-inicial, .cabecera-inicial img{
    display: none;
  }

  .galeria-foto-autos{
    grid-template-columns: repeat(1, 1fr);
    padding-top: 70px;
    margin-left: auto 0;
    margin-right: auto 0;
  }

  .galeria-foto-autos div img{
    div{
        img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
  }

  .informacion-de-autos{
    flex-direction: column;
  }

  .informacion-de-autos{
    div{
        padding-left: 200px;
        padding-right: 200px;
    }
  }

  .formulario-infomacion-extra{
    display: flex;
   flex-direction: column;
  }

  .footer-links{
    margin-top: 250px;
  }

  .footer-container{
    margin-top: 260px;
    grid-template-columns: repeat(1, 1fr);
  }
 }
